---
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bulma"
;

.hero, .navbar {
  box-shadow: 0 .25rem .2rem 0 rgba(0,0,0,0.15);
}

.navbar {
  .icon {
    margin-right: 0.2rem;
  }
}

.home {
  .compact-table {
    td, th {
      padding: 0.25em 0.75em;
      font-size: 0.9rem;
    }
  }
  .subtitle {
    margin-bottom: 0.5rem;
  }
  .latest-results, .upcoming-fixtures {
    tr {
      display: none;
    }
    td.vs {
      padding: 0.5em 1.5em;
      text-align: center;
    }
    tr.last-shown td {
      border-bottom: none;
    }
    .home-team {
      text-align: right;
    }
  }
}

.alternative-table {
  .team-box {
    background-color: transparentize($grey-lighter, 0.5);
    border: 1px solid $dark;
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0rem 0.5rem;
    border-radius: 2px;
  }

  .position {
    border-right: 2px solid $grey-lighter !important;
    text-align: center !important;
    font-family: "Ubuntu Mono", monospace;
    font-weight: normal;
    color: $grey-light;
  }

  .goal-difference {
    margin-left: 0.5rem;
    text-align: center;
    &.positive {
      color: transparentize(green, 0.5);;
    }
    &.negative {
      color: transparentize(red, 0.5);
    }
  }

  .table .points {
    color: $white;
    text-align: center !important;
    font-family: "Ubuntu Mono", monospace;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1rem;
    vertical-align: middle;
  }

  th.header-points, th.header-position {
    width: 10px;
  }
}

.classic-table, .home-table, .away-table, .compact-table {
  td, th {
    font-family: "Ubuntu Mono", monospace;
    text-align: center;
    &.team-name {
      font-family: unset;
      text-align: left;
      font-weight: bold;
    }
    &.team-points {
      font-weight: bold;
    }
    &.best {
      background-color: transparentize($green, 0.7);
    }
    &.worst {
      background-color: transparentize($red, 0.7);
    }
  }
  .team-points, .team-lost {
    border-right: 2px solid $grey-lighter;
  }
  tr:nth-of-type(3) {
    border-top: 2px solid $green;
  }
  tr:nth-of-type(4) {
    border-top: 2px solid $blue;
  }
  tr:nth-of-type(8) {
    border-top: 2px solid $cyan;
  }
  tr:nth-of-type(16) {
    border-top: 2px solid $yellow;
  }
  tr:nth-of-type(18) {
    border-top: 2px solid $red;
  }
}

.fixtures-results, .latest-results {
  .tabs a {
    padding: 0.5em;
  }
  .match-date {
    font-family: "Ubuntu Mono", monospace;
    width: 20%;
  }
  .home-team, .away-team {
    width: 30%;
  }
  .home-team {
    text-align: right;
  }
  .home-score, .away-score {
    width: 5%;
    span {
      font-family: "Ubuntu Mono", monospace;
      padding: 5px 10px;
      border-radius: 4px;
    }
  }
  .draw {
    .home-score span, .away-score span {
      background-color: transparentize($grey, 0.7);
    }
  }
  .home-win {
    .home-score span {
      background-color: transparentize($green, 0.7);
      font-weight: bold;
    }
    .away-score span {
      background-color: transparentize($red, 0.7);
    }
  }
  .away-win {
    .home-score span {
      background-color: transparentize($red, 0.7);
    }
    .away-score span {
      background-color: transparentize($green, 0.7);
      font-weight: bold;
    }
  }
}

.footer {
  box-shadow: inset 0 .25rem .2rem 0 rgba(0,0,0,0.15);
}