---
layout: default
nav: alternative-table
title: Alternative league table
---
<section class="section">
  <div class="container alternative-table">
    <div class="columns is-centered">
      <div class="column is-8-desktop">
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th class="header-position">#</th>
              <th class="header-points">Pts</th>
              <th class="header-teams">Teams</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<script src="/js/alternative-table.js"></script>

<script>
  alternativeTable();
</script>
