---
layout: default
title: Classic table
---
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8-desktop">
        <table class="table classic-table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th><abbr title="Position">Pos</abbr></th>
              <th class="team-name">Team</th>
              <th><abbr title="Points">Pts</abbr></th>
              <th><abbr title="Played">P</abbr></th>
              <th><abbr title="Won">W</abbr></th>
              <th><abbr title="Drawn">D</abbr></th>
              <th><abbr title="Lost">L</abbr></th>
              <th><abbr title="Goals for">GF</abbr></th>
              <th><abbr title="Goals against">GA</abbr></th>
              <th><abbr title="Goal difference">GD</abbr></th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th><abbr title="Position">Pos</abbr></th>
              <th class="team-name">Team</th>
              <th><abbr title="Points">Pts</abbr></th>
              <th><abbr title="Played">P</abbr></th>
              <th><abbr title="Won">W</abbr></th>
              <th><abbr title="Drawn">D</abbr></th>
              <th><abbr title="Lost">L</abbr></th>
              <th><abbr title="Goals for">GF</abbr></th>
              <th><abbr title="Goals against">GA</abbr></th>
              <th><abbr title="Goal difference">GD</abbr></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>

<script src="/js/classic-table.js"></script>