---
layout: default
title: Classic table
---
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6-desktop has-text-centered">
        <h2 class="title is-4">Home table</h2>
        <table class="table home-table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th><abbr title="Position">Pos</abbr></th>
              <th class="team-name">Team</th>
              <th><abbr title="Points">Pts</abbr></th>
              <th><abbr title="Played">P</abbr></th>
              <th><abbr title="Won">W</abbr></th>
              <th><abbr title="Drawn">D</abbr></th>
              <th><abbr title="Lost">L</abbr></th>
              <th><abbr title="Goals for">GF</abbr></th>
              <th><abbr title="Goals against">GA</abbr></th>
              <th><abbr title="Goal difference">GD</abbr></th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th><abbr title="Position">Pos</abbr></th>
              <th class="team-name">Team</th>
              <th><abbr title="Points">Pts</abbr></th>
              <th><abbr title="Played">P</abbr></th>
              <th><abbr title="Won">W</abbr></th>
              <th><abbr title="Drawn">D</abbr></th>
              <th><abbr title="Lost">L</abbr></th>
              <th><abbr title="Goals for">GF</abbr></th>
              <th><abbr title="Goals against">GA</abbr></th>
              <th><abbr title="Goal difference">GD</abbr></th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="column is-6-desktop has-text-centered">
        <h2 class="title is-4">Away table</h2>
        <table class="table away-table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th><abbr title="Position">Pos</abbr></th>
              <th class="team-name">Team</th>
              <th><abbr title="Points">Pts</abbr></th>
              <th><abbr title="Played">P</abbr></th>
              <th><abbr title="Won">W</abbr></th>
              <th><abbr title="Drawn">D</abbr></th>
              <th><abbr title="Lost">L</abbr></th>
              <th><abbr title="Goals for">GF</abbr></th>
              <th><abbr title="Goals against">GA</abbr></th>
              <th><abbr title="Goal difference">GD</abbr></th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th><abbr title="Position">Pos</abbr></th>
              <th class="team-name">Team</th>
              <th><abbr title="Points">Pts</abbr></th>
              <th><abbr title="Played">P</abbr></th>
              <th><abbr title="Won">W</abbr></th>
              <th><abbr title="Drawn">D</abbr></th>
              <th><abbr title="Lost">L</abbr></th>
              <th><abbr title="Goals for">GF</abbr></th>
              <th><abbr title="Goals against">GA</abbr></th>
              <th><abbr title="Goal difference">GD</abbr></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>

<script src="/js/home-away-table.js"></script>