---
layout: default
---
<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Eredivisie.in
      </h1>
      <h2 class="subtitle">
        A collection of statistics and visualisations related to Dutch football
      </h2>
    </div>
  </div>
</section>

<section class="section home">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column is-5-desktop">
        <div class="box">
          <table class="table compact-table is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th><abbr title="Position">Pos</abbr></th>
                <th class="team-name">Team</th>
                <th><abbr title="Points">Pts</abbr></th>
                <th><abbr title="Goal difference">GD</abbr></th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
          <h3 class="subtitle is-5">More tables</h3>
          <div class="buttons">
            <a class="button is-small is-fullwidth is-link is-outlined" href="classic-table.html">Full table</a>
            <a class="button is-small is-fullwidth is-link is-outlined" href="alternative-table.html">Alternative table</a>
            <a class="button is-small is-fullwidth is-link is-outlined" href="line-graph-table.html">Line graph table</a>
            <a class="button is-small is-fullwidth is-link is-outlined" href="home-away-table.html">Home/away table</a>
          </div>
        </div>
      </div>
      <div class="column is-7-desktop">
        <div class="box">
          <table class="table is-hoverable is-fullwidth latest-results">
            <tbody>

            </tbody>
          </table>
        </div>
        <div class="box">
          <table class="table is-hoverable is-fullwidth upcoming-fixtures">
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/home.js"></script>