---
layout: default
nav: table-line-graph
title: Table Line Graph
---

<div class="container">
  <section class="section">
    <div class="tabs is-centered">
      <ul>
        <li><a>2017/2018</a></li>
        <li class="is-active"><a>2018/2019</a></li>
      </ul>
    </div>
    <canvas id="myChart"></canvas>
  </section>
</div>

<script src="/js/chart.min.js"></script>

<script>
  var ctx = document.getElementById('myChart');

  Chart.defaults.global.elements.line.tension = 0;
  Chart.defaults.global.hover.animationDuration = 0;
  Chart.defaults.global.defaultFontFamily = 'Ubuntu';
  Chart.defaults.global.tooltips.titleFontFamily = 'Ubuntu Mono';
  Chart.defaults.global.tooltips.bodyFontFamily = 'Ubuntu Mono';
  Chart.defaults.global.tooltips.titleFontSize = 18;
  Chart.defaults.global.tooltips.bodyFontSize = 16;
  Chart.defaults.global.tooltips.intersect = false;
  Chart.defaults.global.tooltips.mode = 'index';
  Chart.defaults.global.title.display = false;
  Chart.defaults.global.tooltips.cornerRadius = 4;

  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',
      legendPosition: 'right',
      // The data for our dataset
      data: {
          labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34"],
          datasets: [
            {
              label: "PSV",
              borderColor: "#a61315",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 3, 6, 9, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 39, 40, 43, 46, 49, 52, 55, 58, 61, 62, 65, 68, 68, 71, 74, 77, 80, 81, 82, 83],
              fill: false,
              lineTension: 0,
            },
            {
              label: "Ajax",
              borderColor: "#295c86",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 0, 3, 6, 9, 10, 10, 13, 16, 19, 22, 22, 25, 28, 29, 32, 35, 38, 41, 44, 45, 48, 51, 54, 57, 58, 58, 61, 64, 67, 70, 70, 73, 76, 79],
              fill: false,
              lineTension: 0,
            },
            {
              label: "AZ",
              borderColor: "#398036",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 0, 3, 6, 9, 12, 12, 12, 13, 16, 19, 22, 25, 28, 31, 34, 35, 35, 38, 39, 42, 43, 46, 47, 50, 53, 56, 56, 59, 62, 62, 65, 68, 68, 71],
              fill: false,
              lineTension: 0,
            },
            {
              label: "Feyenoord",
              borderColor: "#6f3977",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 3, 6, 9, 12, 12, 12, 15, 16, 16, 17, 18, 19, 22, 25, 26, 27, 30, 33, 33, 36, 36, 39, 39, 42, 42, 42, 45, 48, 51, 54, 57, 60, 63, 66],
              fill: false,
            },
            {
              label: "FC Utrecht",
              borderColor: "#ba5d00",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 3, 6, 6, 9, 9, 9, 10, 13, 13, 14, 17, 20, 23, 24, 25, 28, 29, 29, 30, 31, 32, 35, 38, 41, 44, 44, 47, 48, 48, 49, 49, 50, 51, 54],
              fill: false,
            },
            {
              label: "Vitesse",
              borderColor: "#baba26",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 3, 6, 6, 9, 10, 13, 14, 15, 18, 18, 19, 19, 22, 22, 25, 26, 27, 27, 28, 31, 34, 34, 37, 37, 38, 41, 41, 42, 42, 42, 45, 45, 48, 49],
              fill: false,
            },
            {
              label: "ADO",
              borderColor: "#e41a1c",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 0, 0, 0, 3, 4, 7, 10, 10, 13, 13, 14, 17, 17, 17, 20, 23, 23, 26, 27, 27, 28, 31, 32, 35, 36, 36, 36, 39, 39, 40, 43, 43, 44, 47],
              fill: false,
            },
            {
              label: "Heerenveen",
              borderColor: "#377eb8",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 1, 2, 5, 8, 11, 14, 14, 14, 14, 14, 15, 18, 18, 18, 19, 20, 23, 23, 24, 27, 30, 30, 31, 32, 32, 35, 35, 36, 39, 40, 43, 46, 46, 46],
              fill: false,
            },
            {
              label: "PEC Zwolle",
              borderColor: "#4daf4a",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 3, 4, 7, 7, 10, 11, 14, 15, 18, 21, 22, 22, 25, 26, 29, 30, 33, 33, 36, 36, 36, 39, 39, 39, 39, 40, 40, 40, 43, 43, 44, 44, 44, 44],
              fill: false,
            },
            {
              label: "Heracles",
              borderColor: "#984ea3",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 3, 4, 5, 5, 5, 8, 8, 9, 9, 12, 15, 15, 18, 18, 18, 21, 22, 22, 22, 23, 24, 24, 27, 27, 30, 33, 36, 37, 37, 37, 37, 38, 39, 42],
              fill: false,
            },
            {
              label: "Excelsior",
              borderColor: "#ff7f00",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 3, 3, 4, 4, 4, 7, 7, 10, 11, 14, 17, 17, 17, 17, 17, 17, 20, 21, 24, 24, 25, 25, 26, 29, 32, 32, 35, 35, 35, 38, 39, 40, 40, 40],
              fill: false,
            },
            {
              label: "Groningen",
              borderColor: "#ffff33",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 1, 1, 4, 5, 5, 8, 8, 9, 9, 9, 9, 12, 12, 15, 16, 17, 17, 20, 21, 22, 22, 22, 23, 24, 25, 26, 29, 29, 29, 30, 33, 34, 37, 38],
              fill: false,
            },
            {
              label: "Willem II",
              borderColor: "#eb5859",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 0, 0, 0, 0, 3, 3, 3, 6, 9, 9, 9, 10, 11, 14, 15, 16, 16, 16, 17, 17, 17, 20, 20, 20, 23, 23, 26, 27, 30, 30, 33, 33, 36, 37],
              fill: false,
            },
            {
              label: "VVV",
              borderColor: "#6da1cb",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 3, 6, 6, 7, 8, 9, 12, 12, 12, 12, 13, 14, 15, 15, 16, 16, 19, 22, 23, 26, 29, 29, 30, 31, 32, 33, 33, 33, 34, 34, 34, 34, 34, 34],
              fill: false,
            },
            {
              label: "NAC",
              borderColor: "#7dc47b",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 0, 0, 1, 1, 4, 7, 7, 7, 7, 8, 9, 9, 9, 12, 13, 13, 13, 16, 16, 16, 16, 19, 20, 20, 21, 24, 27, 27, 27, 30, 30, 30, 33, 34],
              fill: false,
            },
            {
              label: "Roda JC",
              borderColor: "#b47ebc",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 0, 0, 0, 0, 0, 0, 3, 6, 6, 7, 7, 7, 7, 10, 11, 11, 11, 11, 12, 15, 16, 16, 17, 17, 17, 17, 17, 20, 23, 26, 26, 27, 30, 30],
              fill: false,
            },
            {
              label: "Sparta",
              borderColor: "#ffa145",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 0, 1, 2, 5, 5, 5, 5, 5, 6, 9, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 14, 14, 14, 15, 15, 18, 21, 21, 21, 24, 24, 27, 27, 27],
              fill: false,
            },
            {
              label: "FC Twente",
              borderColor: "#ffff6a",
              pointStyle: 'line',
              pointRadius: 0,
              data: [0, 0, 0, 0, 0, 3, 3, 6, 6, 9, 9, 9, 9, 9, 10, 10, 13, 14, 15, 16, 16, 16, 16, 16, 17, 17, 18, 18, 19, 20, 20, 20, 23, 23, 24],
              fill: false,
            },
          ]
      },

      // Configuration options go here
      options: {
        legend: {
          position: 'right',
          labels: {
            usePointStyle: true,
            useLineStyle: true,
            fontSize: 16,
          },
        },
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 90,
            }
          }]
        },
      }
  });
</script>