<footer class="footer">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6-tablet is-3-desktop">
        <i class="fa-fw far fa-duck"></i> Created by <a href="https://guushoekman.com">Guus Hoekman</a>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <i class="fa-fw fab fa-css3"></i> Made with <a href="https://bulma.io">Bulma</a><br>
        <i class="fa-fw fas fa-server"></i> Data from <a href="https://www.football-data.org">football-data.org</a>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <i class="fa-fw fab fa-reddit"></i> More on <a href="https://old.reddit.com/r/Eredivisie/">/r/eredivisie</a>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <i class="fa-fw fab fa-gitlab"></i> Contribute on <a href="https://gitlab.com/guushoekman/eredivisie">GitLab</a><br>
        <i class="fa-fw fab fa-osi"></i> Source code licensed <a href="https://gitlab.com/guushoekman/eredivisie/blob/master/LICENSE">MIT</a>
      </div>
    </div>
  </div>
</footer>