<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="icon">
          <i class="fas fa-volleyball-ball"></i>
        </span>
        <span><b>Eredivisie.in</b></span>
      </a>
      <div class="navbar-burger burger" data-target="navbar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span class="icon">
              <i class="fal fa-table" aria-hidden="true"></i>
            </span>
            <span>League tables</span>
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/classic-table.html">
              Classic table
            </a>
            <a class="navbar-item" href="/alternative-table.html">
              Alternative table
            </a>
            <a class="navbar-item" href="/line-graph-table.html">
              Line graph table
            </a>
            <a class="navbar-item" href="/home-away-table.html">
              Home / away tables
            </a>
          </div>
        </div>
        <a class="navbar-item" href="/fixtures-results.html">
          <span class="icon">
            <i class="far fa-gamepad" aria-hidden="true"></i>
          </span>
          <span>Fixtures and results</span>
        </a>
        <a class="navbar-item" href="/teams.html">
          <span class="icon">
            <i class="far fa-pennant" aria-hidden="true"></i>
          </span>
          <span>Teams</span>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-warning" target="_blank" href="https://gitlab.com/guushoekman/eredivisie">
            <span class="icon">
              <i class="far fa-wrench"></i>
            </span>
            <span>Contribute to the site</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>

<!-- making the menu work on mobile -->
<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
</script>