<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <script src="/js/standings.js"></script>
    <script src="/js/competition.js"></script>
    <script src="/js/matches.js"></script>

    {{ content }}

    {% include footer.html %}
  </body>
</html>